version: 2.1

parameters:
  apps:
    type: boolean
    default: false
  cf:
    type: boolean
    default: false
  do:
    type: boolean
    default: false
  gh:
    type: boolean
    default: false

jobs:
  build:
    docker:
      - image: alexfalkowski/go:2.104
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - restore_cache:
          name: restore go cache
          keys:
            - infraops-build-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-build-go-cache-
      - run: make clean
      - run: make dep
      - save_cache:
          name: save go cache
          key: infraops-build-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - restore_cache:
          name: restore go build cache
          keys:
            - infraops-build-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-build-go-build-cache-
      - restore_cache:
          name: restore go lint cache
          keys:
            - infraops-build-go-lint-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-lint-version" }}-{{ checksum ".source-key" }}
            - infraops-build-go-lint-cache-
      - run: make clean
      - run:
          command: make lint
          no_output_timeout: 30m
      - save_cache:
          name: save go lint cache
          key: infraops-build-go-lint-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-lint-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/golangci-lint
      - run: make api-lint
      - run: make api-breaking
      - run: make sec
      - run:
          command: make specs
          no_output_timeout: 30m
      - save_cache:
          name: save go build cache
          key: infraops-build-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
      - run: make coverage
      - store_test_results:
          path: test/reports
      - store_artifacts:
          path: test/reports
      - run: make codecov-upload
    resource_class: arm.large
  sync:
    docker:
      - image: alexfalkowski/release:5.46
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make sync push
    resource_class: large
  version:
    docker:
      - image: alexfalkowski/release:5.46
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: version
    resource_class: large

  apps_preview:
    docker:
      - image: alexfalkowski/k8s:2.21
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - run: make -C area/apps save-config
      - restore_cache:
          name: restore deps
          keys:
            - infraops-apps-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-apps-go-cache-
      - run: make clean
      - run: make dep
      - save_cache:
          name: save deps
          key: infraops-apps-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - restore_cache:
          name: restore go build cache
          keys:
            - infraops-apps-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-apps-go-build-cache-
      - run: make clean
      - run: make pulumi-login
      - run: make area=apps pulumi-preview
      - save_cache:
          name: save go build cache
          key: infraops-apps-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
    resource_class: large
  apps_update:
    docker:
      - image: alexfalkowski/k8s:2.21
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - run: make -C area/apps save-config
      - restore_cache:
          name: restore deps
          keys:
            - infraops-apps-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-apps-go-cache-
      - run: make clean
      - run: make dep
      - save_cache:
          name: save deps
          key: infraops-apps-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - restore_cache:
          name: restore go build cache
          keys:
            - infraops-apps-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-apps-go-build-cache-
      - run: make clean
      - run: make pulumi-login
      - run: make area=apps pulumi-update
      - run: make -C area/apps verify
      - run: make -C area/apps load
      - run: make -C area/apps lint
      - save_cache:
          name: save go build cache
          key: infraops-apps-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
    resource_class: large

  cf_preview:
    docker:
      - image: alexfalkowski/k8s:2.21
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - restore_cache:
          name: restore deps
          keys:
            - infraops-cf-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-cf-go-cache-
      - run: make clean
      - run: make dep
      - save_cache:
          name: save deps
          key: infraops-cf-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - restore_cache:
          name: restore go build cache
          keys:
            - infraops-cf-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-cf-go-build-cache-
      - run: make clean
      - run: make pulumi-login
      - run: make area=cf pulumi-preview
      - save_cache:
          name: save go build cache
          key: infraops-cf-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
    resource_class: arm.large
  cf_update:
    docker:
      - image: alexfalkowski/k8s:2.21
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - restore_cache:
          name: restore deps
          keys:
            - infraops-cf-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-cf-go-cache-
      - run: make clean
      - run: make dep
      - save_cache:
          name: save deps
          key: infraops-cf-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - restore_cache:
          name: restore go build cache
          keys:
            - infraops-cf-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-cf-go-build-cache-
      - run: make clean
      - run: make pulumi-login
      - run: make area=cf pulumi-update
      - save_cache:
          name: save go build cache
          key: infraops-cf-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
    resource_class: arm.large

  do_preview:
    docker:
      - image: alexfalkowski/k8s:2.21
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - restore_cache:
          name: restore deps
          keys:
            - infraops-do-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-do-go-cache-
      - run: make clean
      - run: make dep
      - save_cache:
          name: save deps
          key: infraops-do-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - restore_cache:
          name: restore go build cache
          keys:
            - infraops-do-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-do-go-build-cache-
      - run: make clean
      - run: make pulumi-login
      - run: make area=do pulumi-preview
      - save_cache:
          name: save go build cache
          key: infraops-do-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
    resource_class: large
  do_update:
    docker:
      - image: alexfalkowski/k8s:2.21
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - restore_cache:
          name: restore deps
          keys:
            - infraops-do-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-do-go-cache-
      - run: make clean
      - run: make dep
      - save_cache:
          name: save deps
          key: infraops-do-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - restore_cache:
          name: restore go build cache
          keys:
            - infraops-do-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-do-go-build-cache-
      - run: make clean
      - run: make pulumi-login
      - run: make area=do pulumi-update
      - save_cache:
          name: save go build cache
          key: infraops-do-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
    resource_class: large

  gh_preview:
    docker:
      - image: alexfalkowski/k8s:2.21
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - restore_cache:
          name: restore deps
          keys:
            - infraops-gh-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-gh-go-cache-
      - run: make clean
      - run: make dep
      - save_cache:
          name: save deps
          key: infraops-gh-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - restore_cache:
          name: restore go build cache
          keys:
            - infraops-gh-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-gh-go-build-cache-
      - run: make clean
      - run: make pulumi-login
      - run: make area=gh pulumi-preview
      - save_cache:
          name: save go build cache
          key: infraops-gh-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
    resource_class: large
  gh_update:
    docker:
      - image: alexfalkowski/k8s:2.21
    working_directory: ~/infraops
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - restore_cache:
          name: restore deps
          keys:
            - infraops-gh-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-gh-go-cache-
      - run: make clean
      - run: make dep
      - save_cache:
          name: save deps
          key: infraops-gh-go-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - restore_cache:
          name: restore go build cache
          keys:
            - infraops-gh-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - infraops-gh-go-build-cache-
      - run: make clean
      - run: make pulumi-login
      - run: make area=gh pulumi-update
      - save_cache:
          name: save go build cache
          key: infraops-gh-go-build-cache-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
    resource_class: large

workflows:
  infraops:
    jobs:
      - build
      - sync:
          requires:
            - build
          filters:
            branches:
              ignore: master
      - version:
          serial-group: << pipeline.project.slug >>/release
          requires:
            - build
          filters:
            branches:
              only: master
  apps:
    when: << pipeline.parameters.apps >>
    jobs:
      - apps_preview:
          context: infraops
          filters:
            branches:
              ignore: master
      - apps_update:
          serial-group: << pipeline.project.slug >>/apps
          context: infraops
          filters:
            branches:
              only: master
  cf:
    when: << pipeline.parameters.cf >>
    jobs:
      - cf_preview:
          context: infraops
          filters:
            branches:
              ignore: master
      - cf_update:
          context: infraops
          filters:
            branches:
              only: master
  do:
    when: << pipeline.parameters.do >>
    jobs:
      - do_preview:
          context: infraops
          filters:
            branches:
              ignore: master
      - do_update:
          context: infraops
          filters:
            branches:
              only: master
  gh:
    when: << pipeline.parameters.gh >>
    jobs:
      - gh_preview:
          context: infraops
          filters:
            branches:
              ignore: master
      - gh_update:
          context: infraops
          filters:
            branches:
              only: master
